@import '_variables.sass'
@import '_content_divs.sass'

// Headings

%heading
  margin-top: var(--content-medium-margin-top)
  margin-right: 0
  margin-bottom: 0
  margin-left: 0
  text-align: left
  font-size: inherit
  font-weight: bold

h1
  @extend %block-relative
  @extend %heading
  text-align: center

h2
  @extend %block-relative
  @extend %heading

h3
  @extend %block-relative
  @extend %heading
  font-style: italic

h4
  @extend %heading
  display: inline-block
  position: relative
  text-indent: var(--content-indent)

h5, h6
  @extend %heading
  display: inline-block
  position: relative
  text-indent: var(--content-indent)
  font-style: italic

strong
  @extend %block-relative
  margin-top: var(--content-medium-margin-top)
  text-align: center
  font-weight: normal

// Paragraphs

p
  @extend %block-relative
  margin-top: var(--content-margin-top)
  text-indent: var(--content-indent)

div
  p
    display: inline
    margin-top: 0
    text-indent: 0

hgroup
  display: block
  position: relative
  margin-top: var(--content-medium-margin-top)
  text-indent: var(--content-indent)

  h4, h5, h6, p
    display: inline
    margin-top: 0
    text-indent: 0

code
  padding: 0.2rem 0.4rem
  border-radius: 5px
  background-color: var(--content-code-background-color)
  font-family: monospace
  font-size: 10pt

span
  display: inline
  position: relative
