@import '_variables.sass'

// Fonts

.font-calibri
  // body
  font-family: "Calibri"
  font-size: 11pt

.font-arial
  // body
  font-family: "Arial"
  font-size: 11pt

.font-lucida-sans-unicode
  // body
  font-family: "Lucida Sans Unicode"
  font-size: 10pt

.font-times-new-roman
  // body
  font-family: "Times New Roman"
  font-size: 12pt

.font-georgia
  // body
  font-family: "Georgia"
  font-size: 11pt

.font-lucida-console
  // code
  font-family: "Lucida Console"
  font-size: 10pt

.font-courier-new
  // code
  font-family: "Courier New"
  font-size: 10pt

// Headings

h1, h2, h3, h4, h5, h6
  margin: 1rem 0 0 0
  text-align: left
  font-size: inherit
  font-weight: bold

h1
  text-align: center

h3
  font-style: italic

h4
  display: inline-block
  text-indent: 0.15in

h5, h6
  display: inline-block
  text-indent: 0.15in
  font-style: italic

// Paragraphs

p
  margin-top: 1rem
  text-indent: 0.15in

code
  font-family: monospace
