@import '_variables.sass'

:root
  --figure-padding-x: 0rem

  @media screen and (min-width: $break-md)
    --figure-padding-x: 1rem

figure
  margin-top: var(--content-margin-top)
  padding-right: var(--figure-padding-x)
  padding-left: var(--figure-padding-x)
  max-width: 100%
  text-align: center

img
  max-width: 100%

figcaption
  font-size: 10pt
  font-style: italic
