@import '_variables.sass'
@import '_content_div.sass'

blockquote
  @extend %block-relative
  margin-top: var(--content-margin-top)
  padding-left: var(--content-indent)
  border-left: 4px solid #aaa

  + blockquote
    text-indent: var(--content-indent)
