@import '_variables.sass'

$section-margin-top: 1in

section
  display: block
  position: relative
  page-break-after: always
  page-break-inside: avoid

  &:not(:first-child)
    margin-top: 1in // 2in
