@import '_variables.sass'
@import '_content_div.sass'

strong
  @extend %block-relative
  margin-top: 4rem
  text-align: center
  font-weight: bold

em
  @extend %block-relative
  margin-top: var(--content-margin-top)
  text-align: center
  font-style: normal
