@import '_variables.sass'
@import '_content_divs.sass'

strong
  @extend %block-relative
  margin-top: var(--content-large-margin-top)
  text-align: center
  font-weight: bold

em
  @extend %block-relative
  margin-top: var(--content-margin-top)
  text-align: center
  font-style: normal
