@import '_variables.sass'

section

  summary

    h1, h2, h3
      margin-top: var(--content-large-margin-top)
      text-align: center

    p
      margin-top: var(--content-margin-top)
      text-indent: 0px
