@import '_variables.sass'
@import '_content_div.sass'

$section-margin-top: 2in//1in

section
  @extend %block-relative
  page-break-after: always
  page-break-inside: avoid

  &:not(:first-child)
    margin-top: $section-margin-top // 2in
