$break-sm: 576px
$break-md: 768px
$break-lg: 992px
$break-xl: 1200px
$break-xxl: 1400px

$body-color: #ffffff
$body-padding: 0.3in // 1in
$body-width: 100% // 60%

$html-color: #323639

$font-family: serif
$font-size: 12pt
$line-height: 2
