$break-sm: 576px
$break-md: 768px
$break-lg: 992px
$break-xl: 1200px
$break-xxl: 1400px

$body-color: #ffffff
$body-padding: 1in// 0.3in // 1in
$body-width: 50%//100% // 60%

$html-color: #323639

$font-family: serif
$font-size: 12pt
$line-height: 2

$content-margin-top: 1rem
$content-indent: 0.5in//0.15in // 0.5in
