* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  padding: 1in;
  text-align: left;
  line-height: 2;
  font-family: serif;
  font-size: 12pt;
}

/* TEXTS */

h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

h2 {
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

h3 {
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

h4 {
  margin-left: 0.5in;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
}

h5 {
  margin-left: 0.5in;
  text-align: left;
  text-transform: capitalize;
  font-weight: bold;
  font-style: italic;
}

p {
  margin-left: 0.5in;
  text-align: left;
}

.footnote {
  font-size: 8pt;
}

/* FONTS */

.font-calibri {
  /* body */
  font-family: "Calibri";
  font-size: 11pt;
}

.font-arial {
  /* body */
  font-family: "Arial";
  font-size: 11pt;
}

.font-lucida-sans-unicode {
  /* body */
  font-family: "Lucida Sans Unicode";
  font-size: 10pt;
}

.font-times-new-roman {
  /* body */
  font-family: "Times New Roman";
  font-size: 12pt;
}

.font-georgia {
  /* body */
  font-family: "Georgia";
  font-size: 11pt;
}

.font-lucida-console {
  /* code */
  font-family: "Lucida Console";
  font-size: 10pt;
}

.font-courier-new {
  /* code */
  font-family: "Courier New";
  font-size: 10pt;
}
