:root {
  --break-sm: 576px;
  --break-md: 768px;
  --break-lg: 992px;
  --break-xl: 1200px;
  --break-xxl: 1400px;
  --line-height: 2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  background-color: #323639;
  width: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  margin: 0 auto;
  background-color: #fbfbfb;
  cursor: text;
  padding: 0.2in;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  line-height: var(--line-height);
  font-family: serif;
  font-size: 12pt;
}

@media screen and (min-width: 768px) {
  body {
    padding: 1in;
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  body {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 60%;
  }
}

@media screen and (min-width: 1400px) {
  body {
    width: 50%;
  }
}


@media print {

  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  section {
    margin: 0;
    padding: 0;
  }

  @page {
    size: A6;
  }

}

/* PAGE SECTION */

section {
  position: relative;
  page-break-inside: avoid;
  page-break-after: always;
}

section:not(:first-child) {
  margin-top: 1in;
}

/* PAGE HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

header:first-child {
  text-transform: uppercase;
}

/* PAGE FOOTER */

footer {
  margin-top: 4rem;
  border-top: 1px solid #000;
}

footer small {
  text-indent: 0.5in;
  font-size: 10pt;
}

/* BLOCKQUOTES */

blockquote {
  margin-top: 1rem;
  margin-left: 0.5in;
}

blockquote + blockquote {
  text-indent: 0.5in;
}

/* FONTS */

.font-calibri {
  /* body */
  font-family: "Calibri";
  font-size: 11pt;
}

.font-arial {
  /* body */
  font-family: "Arial";
  font-size: 11pt;
}

.font-lucida-sans-unicode {
  /* body */
  font-family: "Lucida Sans Unicode";
  font-size: 10pt;
}

.font-times-new-roman {
  /* body */
  font-family: "Times New Roman";
  font-size: 12pt;
}

.font-georgia {
  /* body */
  font-family: "Georgia";
  font-size: 11pt;
}

.font-lucida-console {
  /* code */
  font-family: "Lucida Console";
  font-size: 10pt;
}

.font-courier-new {
  /* code */
  font-family: "Courier New";
  font-size: 10pt;
}

/* TEXTS */

h1 {
  margin: 0;
  text-align: center;
  font-size: inherit;
  font-weight: bold;
}

h2 {
  margin: 0;
  text-align: left;
  font-size: inherit;
  font-weight: bold;
}

h3 {
  margin: 0;
  text-align: left;
  font-size: inherit;
  font-weight: bold;
  font-style: italic;
}

h4 {
  margin: 0;
  margin-left: 0.5in;
  text-align: left;
  font-size: inherit;
  font-weight: bold;
}

h5,
h6 {
  margin: 0;
  margin-left: 0.5in;
  text-align: left;
  font-size: inherit;
  font-weight: bold;
  font-style: italic;
}

p {
  margin-top: 1rem;
  text-align: left;
  text-indent: 0.5in;
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  line-height: calc(var(--line-height) / 2);
}

/* TITLE PAGE */

#title-page .paper-title,
#title-page .author-note h2 {
  display: block;
  margin: 0;
  margin-top: 4rem;
  text-align: center;
  font-weight: bold;
}

#title-page .title-element {
  display: block;
  margin-top: 1rem;
  text-align: center;
}

/* ABSTRACT PAGE */
/* TEXT PAGE */
/* REFERENCES PAGE */
/* FOOTNOTES PAGE */
/* TABLES PAGE */
/* FIGURES PAGE */
/* APPENDICES PAGE */