:root {
  --break-sm: 576px;
  --break-md: 768px;
  --break-lg: 992px;
  --break-xl: 1200px;
  --break-xxl: 1400px;
  --line-height: 2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  background-color: #323639;
  width: 100%;
  min-height: 100vh;
}

body {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  cursor: text;
  padding: 0.3in;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  line-height: var(--line-height);
  font-family: serif;
  font-size: 12pt;
  counter-reset: section;
}

/* PAGE SECTION */

section {
  position: relative;
  page-break-inside: avoid;
  page-break-after: always;
}

section:not(:first-child) {
  margin-top: 2in;
}

/* PAGE DIVISION */

div {
  margin-top: 1rem;
}

/* PAGE HEADER */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

header:first-child {
  text-transform: uppercase;
}

header::after {
  counter-increment: section;
  content: counter(section);
}

/* PAGE FOOTER */

footer {
  margin-top: 4rem;
  border-top: 1px solid #000;
}

footer small {
  display: block;
  margin-top: 0.5rem;
  text-indent: 0.15in;
  line-height: 1.5;
  font-size: 10pt;
}

/* BLOCKQUOTES */

blockquote {
  margin-top: 1rem;
  padding-left: 0.15in;
  border-left: 4px solid #aaa;
}

blockquote+blockquote {
  text-indent: 0.15in;
}

/* FONTS */

.font-calibri {
  /* body */
  font-family: "Calibri";
  font-size: 11pt;
}

.font-arial {
  /* body */
  font-family: "Arial";
  font-size: 11pt;
}

.font-lucida-sans-unicode {
  /* body */
  font-family: "Lucida Sans Unicode";
  font-size: 10pt;
}

.font-times-new-roman {
  /* body */
  font-family: "Times New Roman";
  font-size: 12pt;
}

.font-georgia {
  /* body */
  font-family: "Georgia";
  font-size: 11pt;
}

.font-lucida-console {
  /* code */
  font-family: "Lucida Console";
  font-size: 10pt;
}

.font-courier-new {
  /* code */
  font-family: "Courier New";
  font-size: 10pt;
}

/* TEXTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 0 0;
  text-align: left;
  font-size: inherit;
  font-weight: bold;
}

h1 {
  text-align: center;
}

h3 {
  font-style: italic;
}

h4 {
  display: inline-block;
  text-indent: 0.15in;
}

h5,
h6 {
  display: inline-block;
  text-indent: 0.15in;
  font-style: italic;
}

p {
  margin-top: 1rem;
  text-indent: 0.15in;
}

code {
  font-family: monospace;
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.5rem;
  line-height: calc(var(--line-height) / 2);
}

/* LISTS */

/* IMAGES */

figure {
  margin-top: 1rem;
  padding: 0 1rem;
  max-width: 100%;
  text-align: center;
}

img {
  max-width: 100%;
}

figcaption {
  margin-top: 0.5rem;
  font-size: 10pt;
  font-style: italic;
}

/* TITLE PAGE */

strong {
  display: block;
  margin: 4rem 0 0 0;
  text-align: center;
  font-weight: bold;
}

em {
  display: block;
  margin-top: 1rem;
  text-align: center;
  font-style: unset;
}

/* ABSTRACT PAGE */
/* TEXT PAGE */
/* REFERENCES PAGE */

cite {
  display: block;
  margin: 0;
  padding-left: 0.5in;
  text-indent: -0.5in;
  font-style: normal;
}

/* FOOTNOTES PAGE */
/* TABLES PAGE */
/* FIGURES PAGE */
/* APPENDICES PAGE */

/* BREAK POINT 768px */

@media screen and (min-width: 768px) {

  body {
    padding: 1in;
    width: 90%;
  }

  /* PAGE FOOTER */

  footer small {
    text-indent: 0.5in;
    font-size: 10pt;
  }

  /* BLOCKQUOTES */

  blockquote {
    margin-left: 0.5in;
    border-left: unset;
  }

  blockquote+blockquote {
    text-indent: 0.5in;
  }

  /* TEXTS */

  h4,
  h5,
  h6,
  p {
    text-indent: 0.5in;
  }

}

/* BREAK POINT 992px */

@media screen and (min-width: 992px) {

  body {
    width: 75%;
  }

}

/* BREAK POINT 1200px */

@media screen and (min-width: 1200px) {

  body {
    width: 60%;
  }

}

/* BREAK POINT 1400px */

@media screen and (min-width: 1400px) {

  body {
    width: 50%;
  }

}

/* PRINT */

@media print {

  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  section {
    margin: 0;
    padding: 0;
  }

  @page {
    size: A6;
  }

}